@import './common';
@import './example';
@import './form';

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: blanchedalmond;
}
.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding: 30px;
    

}
.photo-card{
    display: flex;
    flex-direction: column;
    //width: min-content;
    background-color:white;

    border-radius: 5px;
    padding: 5px;
    
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);;
    &:hover {
            scale: 1.1;
        }
   
}
.info{
    display: flex;
    padding: 5px;
    
    align-items: center;
    
}
.info-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin-right:7px;
    &:last-child{
        margin-right: 0;
    }
    
}
